# OS files
.DS_Store
Thumbs.db

# IDEs/Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Agent Data
.gemini/
.antigravity/
.atl/
openspec/

# Project Specific
ventaspro-backup-*.json
*.code-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
